@model LibraryManagement.Models.LibraryBranch
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h2>Create Library Branch</h2>

<form asp-controller="LibraryBranch" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="BranchName">Branch Name</label>
        <input asp-for="BranchName" class="form-control" />
        <span asp-validation-for="BranchName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>