@page
@model MyApp.Namespace._404Model
@{

}
<p style="color: red; font-weight: bold;">ERROR: 404</p>
<p style="font-weight: bold;">The page you are trying to access cannot be found.</p>
<p style="font-weight: bold;">It can be that the website content has been removed or moved to another URL.</p>
<p style="font-weight: bolder;">Please check the page again.</p>
