@page
@model MyApp.Namespace._503Model
@{
}

<p style="color: red; font-weight: bold;">ERROR: 503 - Service Unavailable</p>
<p style="font-weight: bold;">The service is temporarily unavailable. Please try again later.</p>